nav {
    width: 100%;

    display: flex;
    justify-content: space-around;

    position: fixed;
    bottom: 0;

    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .navbar__button {
        
        
        display: flex;
        justify-content: center;
        align-items: center;

        
        border: none;
        border-radius: 25%;

        cursor: pointer;
        
    }

    svg {
        width: 80%;
        height: 80%;

        color: var(--secondary-color);
    }
}