nav {
    width: 100%;

    display: flex;
    justify-content: space-around;

    position: fixed;
    bottom: 0;

    padding: 1.5rem 1rem;
    background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    a {
        height: 3rem;
        width: 3rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg {
        width: 70%;
        height: 70%;

        color: var(--primary-color);
        background-color: var(--secondary-color);
        border-radius: 25%;
        cursor: pointer;
    }
}