main {
    font-family: var(--font-base);
    margin-top: 2rem;

    .menu__text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        li {
            list-style-type: none;
        }
        
    
        .menu__text {
            color: var(--secondary-color);

            font-weight: 400;
            font-size: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    
    }
    
    .menu__alergy {
        padding-left: 1rem;
        font-size: 0.8rem;
        color: rgb(224, 101, 101);
    }

    .menu__underline-container {
        display: flex;
        justify-content: center;

        .menu__underline {
            border-bottom: 4px solid var(--secondary-color);
            width: 21rem;
            border-radius: 6px;
        }
    }

    article {
        margin-bottom: 2rem;
    }

    .menu__info {
        text-align: center;
        color: var(--secondary-color);
        padding: 0.5rem;

        p {
            font-size: 0.85rem;
            margin-top: 1rem;
        }

        h3 {
            font-size: 1rem;
            margin-top: 1rem;
            letter-spacing: 0.08rem;
        }
        
    }

}

.space {
    height: 100px;
}




