main {
    font-family: var(--font-base);
    margin: 0 auto;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;

    max-width: 1430px;

    @media screen and (min-width: 656px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media screen and (min-width: 984px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    @media screen and (min-width: 1312px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .menu__text-type {
        color: var(--secondary-color);
        text-decoration: underline;
        margin: 2rem 0;
    }

    .menu__text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        li {
            list-style-type: none;
        }
        
    
        .menu__text {
            color: rgb(29, 27, 27);

            font-weight: 400;
            font-size: 1rem;
            
        }
    
    }
    
    .menu__alergy {
        padding-left: 1rem;
        font-size: 0.8rem;
        color: rgb(224, 101, 101);
    }

    .menu__underline-container {
        display: flex;
        justify-content: center;

        .menu__underline {
            border-bottom: 4px solid var(--secondary-color);
            width: 100%;
            border-radius: 6px;
        }
    }

    article {
        margin: 0 auto;
        margin-bottom: 1.5rem;

        max-width: 328px;
        min-width: 320px;

        align-self: flex-start;

        @media screen and (max-width: 420px) {
            min-width: 328px;;
        }
    }

    

}

.space {
    height: 100px;
}

.menu__info {
    text-align: center;
    color: var(--secondary-color);
    padding: 0.5rem;
    font-family: var(--font-base);

    p {
        font-size: 0.85rem;
        margin-top: 1rem;
        letter-spacing: 0.05rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 1rem;
        letter-spacing: 0.08rem;
    }
    
}




